
@{
    ViewData["Title"] = "CrimeInvestigatorView";
    Layout = "_InvestigatorLayout";
}

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som handläggare</p>

@await Component.InvokeAsync("DisplayErrand", ViewBag.ErrandId)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p class="label">Händelser:</p>
    <textarea name="events" rows="5" cols="60"></textarea>

    <p class="label">Mer information:</p>
    <textarea name="information" rows="5" cols="60"></textarea>

    <p class="label">Prover:</p>
    <input type="file" name="loadSample" />

    <p class="label">Ladda upp bilder:</p>
    <input type="file" name="loadImage" />

    <p class="label">Ändring av status:</p>
    @await Html.PartialAsync("_StatusDropDownLayout")

    <p>
        <input class="button" type="submit" value="Spara ändringarna" />
    </p>
</section>
