@{
    Layout = "_HomeLayout";
}

@model ReportCrime

<h2>Välkommen att fylla i din anmälan av miljöbrott</h2>
<p class="info">I Småstad är inga brott för små för att anmälas</p>

<p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i.</p>

<form method="post" asp-controller="Citizen" asp-action="Validate">
    <p>
        <input type="hidden" asp-for="IsSubmitted" value="true" />
    </p>
    <p>
        <label asp-for="Place" class="label" ></label>
        <input asp-for="Place"/>
        <span asp-validation-for="Place"></span>
    </p>
    <p>
        <label asp-for="Crime" class="label"></label>
        <input asp-for="Crime" />
        <span asp-validation-for="Crime"></span>
    </p>
    <p>
        <label asp-for="CrimeDate" class="label"></label>
        <input asp-for="CrimeDate" />
        <span asp-validation-for="CrimeDate"></span>
    </p>
    <p>
        <label asp-for="InformersName" class="label"></label>
        <input asp-for="InformersName" />
        <span asp-validation-for="InformersName"></span>
    </p>
    <p>
        <label asp-for="Phone" class="label"></label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </p>
    <p>
        <label asp-for="Observation" class="label" ></label>
        <input asp-for="Observation" />
<!--       <textarea name="observation" rows="5" cols="16"></textarea>
    -->
    </p>
    <p>
        <input class="button" type="submit" value="Skicka in" />
    </p>
</form>
