
@{
    ViewData["Title"] = "CrimeInvestigatorView";
    Layout = "_InvestigatorLayout";
}

@model InvestigatorFormHelper

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som handläggare</p>

@await Component.InvokeAsync("DisplayErrand", ViewBag.ErrandId)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
 
    <form method="post" enctype="multipart/form-data" multiple asp-controller="Investigator" asp-action="UploadFiles">

        <p>
            <label asp-for="InvestigatorAction" class="label"></label>
            <textarea asp-for="InvestigatorAction" rows="5" cols="16"></textarea>
            <span asp-validation-for="InvestigatorAction" class="error"></span>
        </p>

        <p>
            <label asp-for="InvestigatorInfo" class="label"></label>
            <textarea asp-for="InvestigatorInfo" rows="5" cols="16"></textarea>
            <span asp-validation-for="InvestigatorInfo" class="error"></span>
        </p>

        <p>
            <label asp-for="ImageFile" class="label"></label>
            <input type="file" name="ImageFile" />
        </p>

        <p>
            <label asp-for="SampleFile" class="label"></label>
            <input type="file" name="SampleFile" />
        </p>

        <select asp-for="StatusId"
                asp-items="@(new SelectList(ViewBag.StatusList, "StatusId", "StatusName"))">
            <option value="">Välj status</option>
        </select>

        <p>
            <input class="button" type="submit" value="Spara ändringarna" />
        </p>
    </form>

</section>
