<select name="department">
    <option selected="selected">Välj alla</option>
    @foreach (Department d in Model.Departments)
    {
        <option value=@d.DepartmentId>@d.DepartmentName</option>
    }
</select>