<select name="investigator">
    <option selected="selected">Välj alla</option>
    @foreach (Employee e in Model.Employees)
    {
        <option value=@e.EmployeeId>@e.EmployeeName</option>
    }
</select>