@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<select name="status">
    <option selected="selected">Välj alla</option>
    @foreach (ErrandStatus s in Model.ErrandStatuses)
    {
        <option value=@s.StatusId>@s.StatusName</option>
    }
</select>