@{
    Layout = "_BasicLayout";
}


<nav>
    <ul>
        <li><a class="reports" asp-controller="Manager" asp-action="Start">Start(Ärenden)</a></li>
        <li class="right"><a class="logout" asp-controller="Home" asp-action="Index">Logga ut</a></li>
    </ul>
</nav><!-- End Nav -->

<div id="content">
    @RenderBody()

    @await Html.PartialAsync("_FooterLayout")

</div><!-- End Content -->