
@{
    ViewData["Title"] = "CrimeCoordinatorView";
    Layout = "_CoordinatorLayout";
}

@model Department


<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@await  Component.InvokeAsync("DisplayErrand", ViewBag.ErrandId)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <p>
        Ange enhet: 
    </p>
    <form asp-controller="Coordinator" asp-action="SaveErrand" method="Post">
        <select asp-for="DepartmentId"
                asp-items="@(new SelectList(ViewBag.DepartmentList, "DepartmentId", "DepartmentName"))">
            <option value="NULL">Välj enhet</option>
        </select>
        <p><input class="button" type="submit" value="Spara" /></p>
    </form>
</section>